*.sw?
*.o
*.a
ed/ed
yacc/yacc
mk/mk
rc/rc
rc/*.tab.*
ascii/ascii
awk/awk
awk/*.tab.*
basename/basename
bc/bc
bc/*.tab.*
cal/cal
cat/cat
cleanname/cleanname
cmp/cmp
date/date
dc/dc
dd/dd
diff/diff
du/du
echo/echo
factor/factor
fmt/fmt
fortune/fortune
freq/freq
getflags/getflags
grep/grep
grep/*.tab.*
hoc/hoc
hoc/*.tab.*
join/join
listen1/listen1
look/look
ls/ls
md5sum/md5sum
mkdir/mkdir
mtime/mtime
pbd/pbd
primes/primes
read/read
rm/rm
sam/sam
sed/sed
seq/seq
sha1sum/sha1sum
sleep/sleep
sort/sort
split/split
strings/strings
tail/tail
tee/tee
test/test
touch/touch
tr/tr
troff/troff
unicode/unicode
uniq/uniq
unutf/unutf
urlencode/urlencode
wc/wc
